
<%- include("../partials/nav.ejs") %>
<body>

<div class="container my-4">
    <!-- header -->
    <h1 class="h2 fw-bold mb-4" style="color: #0284C7;">
         All Information Cards
    </h1>

    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% allInfo.forEach((item) => { %>
            <div class="col">
                <div class="card h-100 shadow-sm border-0 rounded-3">
                    
                    <!-- Image  -->
                    <div class="p-3 text-center bg-light rounded-top">
                        <img 
                            src="/images/<%= item.radiologyUnit %>.png" 
                            class="card-img-top img-fluid" 
                            alt="<%= item.radiologyUnit %> image"
                            style="max-height: 40dvh;"  
                        >
                    </div>

                    <!-- Card Body -->
                    <div class="card-body d-flex flex-column text-start p-3">
                        
                        <!-- Title -->
                        <h5 class="card-title fw-bold text-dark mb-2">
                            <%= item.name %>
                        </h5>

                        <!-- unit and time-->
                        <div class="mb-3">
                            <span class="badge bg-info text-dark me-1">
                                🖥️ <%= item.radiologyUnit %>
                            </span>
                            <span class="badge bg-success">
                                ⏱️ <%= item.duration %> mins
                            </span>
                        </div>

                        <div class="mt-3 p-3 rounded-3 infoNotice" >

            <h6 class="fw-bold text-danger mb-2 fs-6">
              ⚠️ Important Notices:
            </h6>
            <ul class="mb-0 ps-3">
              <% item.notice.forEach(function(note) { %>
                <% if (note !== '') { %>
                  <li class="text-dark small mb-1"><%= note %></li>
                <% } %>
              <% }) %>
            </ul>
          </div>
          <br>
                        <!-- Action Link Button -->
                        <div class="mt-auto">
                            <a href="/info/<%= item._id %>" class="btn btn-primary w-100 fw-semibold">
                                Click for details
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>



</body>
</html>