<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1> All information cards</h1>
<br>
<ul>
    
<% allInfo.forEach((item) => { %>
    <li> <%=item.name%> </li>
    <li> radiology Unit: <%= item.radiologyUnit%> </li>
    <li> expected Examination time: <%= item.duration%> </li>
    <form action="/info/<%= item._id%>">
    <button type="submit"><a href="/info/<%= item._id%>"></a> Click for details</button>
   </form>
    <hr>
<%})%>

</ul>

    <a href="/info/newInfo">Creat new card</a>
</body>
</html>