<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/info/<%= foundInfo._id%>?_method=DELETE" method="post">
        <img src="/images/<%= foundInfo.radiologyUnit%>.png" alt="<%= foundInfo.radiologyUnit%> image" width="200">
        <h1> <%= foundInfo.name%> </h1>
        <p><%= foundInfo.radiologyUnit%> </p>
        <p><%= foundInfo.duration%> </p>
        <p><%= foundInfo.generalInfo%> </p>
        
        <% foundInfo.notice.forEach(function(item) { %>
          <%if (item !== '') { %>
             <ul>
        <li><%= item %></li>
        </ul>
           <% }%>
        <% }) %>
         
        
        <br>
        <button type="submit"> Delete info card</button>
    </form>

    <hr>
    <section>
        <h2>Commets about this Examination</h2>

        <form action="/info/<%= foundInfo._id%>/comment" method="post">

            <label for="commentType"> your comment is </label>
            <select name="commentType" id="commentType">
                <option value="question"> question</option>
                <option value="suggestion">suggestion </option>
                <option value="complaint"> complaint</option>
                <option value="urgent"> urgent matter </option>

                <label for="text"> write a comeent</label>
                <textarea name="text" rows="4" required></textarea>


            </select>

            <textarea name="text" rows="4" required></textarea>
            <button type="submit"> Add comment</button>

        </form>


    </section>
    <hr>
    <a href="/info/<%= foundInfo._id%>/editInfo"> Edit card</a>
    <a href="/info/index"> all Cards</a>
    
</body>
</html>