<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/info/<%= foundInfo._id%>?_method=DELETE" method="post">
        <h1> <%= foundInfo.name%> </h1>
        <p><%= foundInfo.radiologyUnit%> </p>
        <p><%= foundInfo.duration%> </p>
        <p><%= foundInfo.generalInfo%> </p>
        <br>
        <button type="submit"> Delete info card</button>
    </form>
    
    <button><a href="/info/<%= foundInfo._id%>/editInfos"> Edit card</a>
    </button>
</body>
</html>